{% extends 'base.html.twig' %}

{% block container %}
    <form>
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Name of product...">

            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </form>

    <div class="panel panel-default mr-top-25">
        <div class="panel-heading">
            <h3 class="panel-title">Top Discount Products</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped" id="moreDiscountProductsTable">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Online Price</th>
                    <th>Old Price</th>
                    <th>Discount Percent</th>
                    <th>Shop</th>
                    <th>Record Date</th>
                    <th>Link</th>
                </tr>
                </thead>

                <tbody>
                    {{ include('default/_top_discount_rows.html.twig', {topDiscountProducts: topDiscountProducts}) }}
                </tbody>
            </table>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <button type="button" class="btn btn-default" id="loadMoreDiscountProducts">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Load more records
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

